.Decrypt-page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 15%;
}
  
.Decrypt-page img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
}
  
.text-content {
    margin-top: 1rem;
    line-height: 1.5;
}
  
.decryption-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cipher-text {
    width: 100%;
    max-width: 500px;
    height: 60px; /* Reduced height */
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
  
.submit-button {
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0a2541;
    color: white;
    border: none;
    border-radius: 40px; /* Fixed border-radius */
    cursor: pointer;
}
  
.submit-button:hover {
    background-color: #071b31;
}
  
/* Popup styles */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 90%;
    width: 400px;
    text-align: center;
}
  
.popup h3 {
    margin-bottom: 1rem;
    color: #06284c;
}
  
.copy-button,
.close-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0.5rem;
}
  
.copy-button {
    background-color: #0a2541;
    color: #fff;
    margin-right: 0.5rem;
}
  
.copy-button:hover {
    background-color: #071b31;
}
  
.close-button {
    background-color: #ccc;
}
  
.close-button:hover {
    background-color: #999;
}
