.Decrypt-page{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 15%;
}

.Decrypt-page img {
    width: 100%;
    max-width: 600px; 
    margin-bottom: 1rem;
}

.text-content {
    margin-top: 1rem;
    line-height: 1.5;
}
@media (max-width:768px) {
    .Decrypt-page{
      padding: 5%;
      font-size:1.5rem;  
    }
    
}
